body {
    padding: 0px 150px 0px 150px;

}

.background {
    width: 100%;
    height: 300px;
}

#grey {
    background-color: grey;
}

#photo {
    height: 310px;
}

#annaphoto {
    background-image: url(/Резюме/Media/02_Anna.jpg);
    background-size: 400px;
    background-position: 50% 50%;
}
 
.pic {
    width: 400px;
    height: 500px;
    position: relative;
    bottom: 200px;
    margin: 0 auto;
 
}

#annaphoto:hover {
    background-image: url(/Резюме/Media/01_Anna.jpg);
    background-position: 50% 50%;
}

.info {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

#left {
    float: left;
    display: inline-block;
    width: 20%;
    margin: 1px 1em 1em 1em;
}

#right {
    float: right;
    display: inline-block;
    width: 74%;
    margin: 1px 1em 1em 1em;
}